/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: url(../images/bg.jpg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
	display: inline-block;
	width: 100%;
	height: 60px;
	background-color: #00002c99;
	animation-delay: .2s;
	
}
.container{
	width: 80%;
	margin: 0 auto;

}
header ul{
	line-height: 60px;
	display: flex;

}
header ul li{
	flex: 1;
	text-align: center;
}
header ul li a{
	color: #bbb9b9;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

}
header ul li a.current{
	color: #fff;
}
/* Heading Style */

.intro-heading{
	text-align: center;
	margin-top: 0.5%;
}
.intro-heading h4{
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	color: rgb(88, 88, 88);
	animation-delay: 2s;
}
.intro-heading h1{
	font-size: 80px;
	font-weight: 300;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	color: rgb(95, 95, 95);
	animation-delay: 1s;

}